@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: moccasin;
    font-family: 'Roboto', 'san-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3{
    margin: 10px 0 20px;
    text-align: center;
}
.container{
    width: 500px;
}

textarea{
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

.tag{
    background-color: black;
    color: white;
    margin: 0 15px 10px 0;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight{
    background-color: brown;
}